VITE_SUPABASE_URL=https://jdlvxeqathakklesglqi.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpkbHZ4ZXFhdGhha2tsZXNnbHFpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyMzg2NTMsImV4cCI6MjA5MjgxNDY1M30.9Xo7ymfpFOk5RMyTzSxg9zyQpmp49xq7ePp1fBVE7t8
